<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mechon">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MechOn">
        <activity
            android:name=".userFeed"
            android:exported="true" />
        <activity
            android:name=".userComp"
            android:exported="true" />
        <activity
            android:name=".userPend"
            android:exported="true" />
        <activity
            android:name=".userOrders"
            android:exported="true" />
        <activity
            android:name=".mechLogin"
            android:exported="true" />
        <activity
            android:name=".mechCompOrders"
            android:exported="true" />
        <activity
            android:name=".mechPendOrders"
            android:exported="true" />
        <activity
            android:name=".userLoginView"
            android:exported="true" />
        <activity
            android:name=".ui.login.userLogin"
            android:exported="true"
            android:label="@string/title_activity_user_login" />
        <activity
            android:name=".userMainView"
            android:exported="true" />
        <activity
            android:name=".feedbackShow"
            android:exported="true" />
        <activity
            android:name=".showMechOrd"
            android:exported="true" />
        <activity
            android:name=".user2profile"
            android:exported="true" />
        <activity
            android:name=".userMechView"
            android:exported="true" />
        <activity
            android:name=".mechMain"
            android:exported="true" />
        <activity
            android:name=".mechAuth"
            android:exported="true" />
        <activity
            android:name=".mechProfile"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>